body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.container-grid{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns:repeat(4, 80px);
    grid-template-rows: minmax(10px, auto) repeat(5, 70px);
    align-items: center;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 10px;
}

/*Buttons*/

button{
    font-size: 20px;
    background-color: rgb(85, 82, 82);
    color: rgb(233, 233, 227);
    border: 1px solid  rgb(131, 127, 127);
    cursor: pointer;
    outline: none;
    height: 70px;
}

.span-two{
    grid-column: span 2;
}

#orange{
    background-color: rgb(255, 102, 0);
    border-right: 1px solid rgb(255, 153, 0);
}


.output{
    border: 1px solid;
    border-radius: 10px 10px 0 0;
    grid-column: 1/ -1;
    background-color: black;
    height: 100px;
    
}

.previous-operand{
    display: flex;
    font-family: fantasy;
    justify-content: flex-end;
    color:rgba(255, 255, 255, .75);
    font-size: 30px;
}

.current-operand{
    font-family: fantasy;
    display: flex;
    justify-content: flex-end;
    color:white;
    font-size: 30px;
}

/*Copyright*/

.copyright{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

  /*Mobile Version*/

@media (max-width: 550px){
    .container-grid{
        grid-template-columns:repeat(4, 80px);
        grid-template-rows: minmax(10px, auto) repeat(5, 70px);
    }

    button{
        font-size: 20px;
        height: 70px;
    }

    .output{
        height: 80px;
    }

    .previous-operand{
        font-size: 20px;
    }

    .current-operand{
        font-size: 30px;
    }
}