body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.container-grid{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns:repeat(4, 100px);
    grid-template-rows: minmax(10px, auto) repeat(5, 100px);
    align-items: center;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 10px;
}

button{
    font-size: 30px;
    background-color: rgb(128, 125, 125);
    color: rgb(233, 233, 227);
    border: 1px solid  rgb(158, 155, 155);
    cursor: pointer;
    outline: none;
    height: 100px;
}

.span-two{
    grid-column: span 2;
}

#orange{
    background-color: rgb(255, 153, 0);
}

.output{
    border: 1px solid;
    border-radius: 10px 10px 0 0;
    grid-column: 1/ -1;
    background-color: black;
    height: 100px;
    
}